body {
    font-family: 'Times New Roman', sans-serif;
}

/* Это стили для не валидных полей */

/*input:invalid{*/
/*    border-color: #900;*/
/*    background-color: #FDD;*/
/*}*/

/*input:focus:invalid {*/
/*    outline: none;*/
/*    border-color: #900;*/
/*    background-color: #FDD;*/
/*}*/

.invalid {
    outline: none;
    border-color: #900;
    background-color: #FDD;
}

/* Это стили для сообщений об ошибке */
.error {
    width  : 100%;
    padding: 0;

    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;

    box-sizing: border-box;
}

.error.active {
    padding: 0.3em;
}

.subTotal {
    background-color: #b2abab;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 500px;
    z-index: 1;
    padding: 15px;
}

.hide {
    display: none;
}

.logo > h1 {
    margin: 0;
    font-size: 2rem;
}

.form-submit-button, .goMain {
    margin-top: 1rem;
}

.goMain > a {
    text-decoration: none;
    color: var(--text-color);
}