:root {
    --header-color: #646da9;
    --cart-color: #e3e3e3;
    --body-color: #eeffff;
    --text-color: #050505;
    --card-color: transparent;
    --card-border-color: #e3e3e3;
    --card-added-color: #595555;
    --modal-color: #bbbbbb;
    --modal-info-color: #a66369;
    --button-color: #eb3246;
    --button-text-color: #fff;
    --button-border-color: #fc96a3;
    --button-hover: #ffeaec;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}
body {
    font-family: 'Times New Roman', sans-serif;
    font-weight: 400;
    letter-spacing: 0.05em;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-color: var(--body-color);
    color: var(--text-color);

}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul[class],
ol[class] {
    padding: 0;
}

ul[class],
ol[class] {
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img {
    max-width: 100%;
    display: block;
}


input,
button,
textarea,
select {
    font: inherit;
}

.wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--header-color);
    position: fixed;
    top: 0;
    z-index: 5;
    max-width: 1200px;
    width: 100%;
    padding: 10px;

}

main {
    margin-top: 100px;
}


h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1rem;
}

h3 {
    font-size: 0.95rem;
}

h4 {
    font-size: 0.8rem;
    font-weight: 400;
}

h5 {
    font-size: 0.7rem;
    font-weight: 400;
}

.cart > h2 {
    font-size: 1.5rem;
}

.bag {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.bag:hover {
    cursor: pointer;
}

.fa-2xl {
    line-height: 3rem !important;

}

.itemsBag {
    position: absolute;
    font-size: 12px;
    line-height: 1.33333333;
    min-width: 18px;
    padding: 0 4px;
    top: 0;
    right: 5px;
    border: 1px solid var(--button-color);
    background-color: var(--button-color);
    color: var(--button-text-color);
    border-radius: 1em;
    text-align: center;
}

.zero {
    display: none;
}

.bookCatalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    flex-shrink: 0;
    width: 250px;
    height: 420px;
    margin: 0.94rem;
    border-radius: 2px;
    border: solid 1px var(--card-border-color);
    background-color: var(--card-color);
    position: relative;
    padding: 1.25rem;
}

.card:hover {
    cursor: move;
}

.bookCardLogo {
    display: block;
    margin: 0 auto;
    height: 190px;
}


.bookCreds {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: 1rem;
}

.buy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.bookPrice {
    font-size: 1.25rem;
    font-weight: bold;
    align-self: center;
}

.addToCart, .showMore, .removeItem {
    color: var(--button-color);
    border-radius: 0.125rem;
    border: solid 1px var(--button-border-color);
    background-color: var(--button-text-color);
    padding: 0 0.75rem;
    font-weight: 500;
}

.addToCart:hover,
.showMore:hover,
.removeItem:hover {
    background-color: var(--button-hover);
    cursor: pointer;
}

.removeItem.none {
    display: none;
}

.addToCart:disabled:hover {
    cursor: default;
}

.inCart {
    background-color: var(--card-added-color);
}

.modalWindowContainer {
    background-color: var(--modal-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 500px;
    z-index: 1;
    padding: 15px;
}

.hideModal {
    display: none;
}

.imgModal {
    width: 300px;
    height: 400px;
    background-color: transparent;
}

.descrModal {
    width: 400px;
    height: 400px;
    background-color: var(--modal-info-color);
}

.description {
    height: 70%;
}

.modalClose {
    position: absolute;
    top: 7px;
    right: 7px;
    background-color: var(--button-color);
    border: none;
    border-radius: 50%;
    color: var(--button-text-color);
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}

.cart {
    width: 100%;
    background-color: var(--cart-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;
    padding: 10px;
}

.empty {
    display: none;
}

.mini-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-shrink: 0;
    width: 250px;
    margin: 0.94rem;
    border-radius: 2px;
    border: solid 1px var(--card-border-color);
    position: relative;
    padding: 1.25rem;
    flex-wrap: wrap;
}

.cart-items {
    display: flex;
    flex-wrap: wrap;
}

.price {
    position: absolute;
    right: 130px;
    font-weight: bold;
    font-size: 1.5rem;
}

.mini-card-content {
    display: flex;
    width: 100%;
    max-height: 150px;
    margin-bottom: 10px;
    gap: 5px;
}

.mini-card-creds {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



.img-mini {
    height: 150px;
    width: 100px;
}

h5.mini-card-title {
    margin: 0;
}

h5.mini-card-author {
    margin: 0;
}

div.mini-card-order > input[type=number] {
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

div.mini-card-order > button {
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

div.mini-card-order > button:hover {
    background-color: #ccc;
}